<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
         id="AntBuildMech"
         name="AntBuildMechanism"
         point="org.emonic.base.buildmechanism">
  <builder
            ID="emonic.base.build.antnant.nant"
            class="org.emonic.base.build.ant.AntBuildFileManipulator"
            mechanism="ant"/>
  </extension>
</plugin>
