.blog #content,
.archive #content,
.home #content {
	margin: 0 auto;
	text-align: center;
}

.home #content #logo {
	width: 300px;
	height: 300px;
}

.home #content .hero-unit {
	background-color: white;
}

.home #content .site-navigation li {
	display: inline-block;
	float: none;
}

#main {
	margin-top: 1em;
}