<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.emonic.base.buildmechanism">
      <builder
            ID="emonic.base.build.csant.builder"
            class="org.emonic.base.build.csant.CSAntBuildFileManipulator"
            mechanism="csant"/>
   </extension>

</plugin>
